DATABASE_URL=postgresql://postgres@localhost:5432/game_db?schema=public&sslmode=disabled
MODE=dev

CORE_PORT=3000
CORE_HOSTNAME=domain.com
CORE_PATH=.
CORE_NAME=dev-game

API_BASE_HOST=domain.com
GAME_APP_URL=domain.com
GAME_BOT_TOKEN=

GAME_PRIVATE_KEY=
GAME_TON_ADDRESS=
GAME_EVM_ADDRESS=